{% if target_user %}
<div class="col-sm-2 col-sm-offset-1">
              <div class="sidebar-module sidebar-module-inset">
                <div class="thumbnail" style="width:100%;">
                	<img src={% if target_user.userdetail.image %}{{target_user.userdetail.image}}{% else %}"{{ STATIC_URL }}images/avatar.jpg"{% endif %} width='100%' alt="...">
                	<div class="caption">
                		<h3>{{ target_user.userdetail.nickname|safe }}</h3>
                		<p>{{ target_user.userdetail.self_describe }}</p>
                		<p><a id="following-{{target_user.id}}" href="/u/{{target_user.id}}/following" class="btn btn-default" role="button">关注{{ target_user.following.count }}</a></p>
                		<p><a id="follower-{{target_user.id}}" href="/u/{{target_user.id}}/follower" class="btn btn-default" role="button">粉丝{{ target_user.follower.count }}</a></p>
                		<p><a id="weibo-{{target_user.id}}" href="/u/{{target_user.id}}" class="btn btn-default" role="button">微博{{ target_user.post.count }}</a></p>
                		<p>
											{% jinja %}
											<a id="follow-{{target_user.id}}" href="javascript:;" class="btn btn-primary" {% if user.userdetail.check_follow(target_user) %} style="display:none;" {% endif %} role="button">+关注</a>
											<a id="unfollow-{{target_user.id}}" href="javascript:;" class="btn btn-primary" {% if not user.userdetail.check_follow(target_user) %} style="display:none;" {% endif %} role="button">取消关注</a>
											{% endjinja %}
										</p>
                	</div>
    			</div>
              </div>
<!-- /.sidebar -->
</div>
{% else %}
<div class="col-sm-2 col-sm-offset-1">
              <div class="sidebar-module sidebar-module-inset">
                <div class="thumbnail" style="width:100%;">
                	<img src={% if user.userdetail.image %}{{user.userdetail.image}}{% else %}"{{ STATIC_URL }}images/avatar.jpg"{% endif %} width='100%' alt="...">
                	<div class="caption">
                		<h3>{{ user.userdetail.nickname|safe }}</h3>
                		<p>{{ user.userdetail.self_describe }}</p>
                		<p><a href="/u/{{user.id}}/following" class="btn btn-default" role="button">关注{{ user.following.count }}</a></p>
                		<p><a href="/u/{{user.id}}/follower" class="btn btn-default" role="button">粉丝{{ user.follower.count }}</a></p>
                		<p><a href="/u/{{user.id}}" class="btn btn-default" role="button">微博{{ user.post.count }}</a></p>
                	</div>
    			</div>
              </div>
<!-- /.sidebar -->
</div>
{% endif %}
