{% extends 'index.html' %}

{% block head %}

{% endblock %}

{% block contain %}
<div class="col-sm-9">

	{% if form.errors %}
	<div class="alert alert-danger"><strong>Error:</strong> {{ form.errors }} </div>
	{% endif %}

	<form role="form" action="" method=post>

		<div>

			<div class="form-group">
    		<label for="body" class="control-label">发微博</label>
    		<div>
      		<textarea class="form-control" id="body" name="body" rows="3" required></textarea>
    		</div>
			</div><!-- body -->

			<div class="form-group">
    		<label for="add_image" class="control-label">添加图片</label>
				<p style="margin:0px;" id="image_line1"></p>
				<p style="margin:0px;" id="image_line2"></p>
				<p style="margin:0px;" id="image_line3"></p>
    		<div class="row form-inline" style="margin:10px 0 0 0;">
					<div class="col-sm-11" style="padding:0;">
      			<input type="text" class="form-control" id="add_image" name="add_image">
					</div>
					<div class="col-sm-1">
						<a href="javascript:;" class="btn btn-default" id="add_image_button" role="button">添加</a>
					</div>
    		</div>
			</div><!-- add_image -->

			<div class="form-group">
    		<label for="add_video" class="control-label">添加视频</label>
				<p style="margin:0px;" id="video_line"></p>
    		<div class="row form-inline" style="margin:10px 0 0 0;">
					<div class="col-sm-11" style="padding:0;">
      			<input type="text" class="form-control" id="add_video" name="add_video">
					</div>
					<div class="col-sm-1">
						<a href="javascript:;" class="btn btn-default" id="add_video_button" role="button">添加</a>
					</div>
    		</div>
			</div><!-- add_video -->


			<div class="form-group">
    		<label for="add_audio" class="control-label">添加音频</label>
				<p style="margin:0px;" id="audio_line"></p>
    		<div class="row form-inline" style="margin:10px 0 0 0;">
					<div class="col-sm-11" style="padding:0;">
      			<input type="text" class="form-control" id="add_audio" name="add_audio">
					</div>
					<div class="col-sm-1">
						<a href="javascript:;" class="btn btn-default" id="add_audio_button" role="button">添加</a>
					</div>
    		</div>
			</div><!-- add_audio -->

		</div>
		
		<input type="hidden" id="image" name="image" value="">
		<input type="hidden" id="audio" name="audio" value="">
		<input type="hidden" id="video" name="video" value="">

		<button class="btn btn-primary btn-lg btn-block" style="margin-top:10px;" type="submit">发布</button>
		{% csrf_token %}
	</form>

</div>
{% endblock %}


{% block script %}
<script src='/static/js/write.js'></script>
{% endblock %}


